.page-title {

  display: inline-flex;
  flex-direction: row;
  font-size: 2rem;

  i.page-title__icon {

  }

  h1.page-title__main {

    color: #fff;
    margin-bottom: #{ $spacer * 1.5 };

    small.page-title__secondary {
      margin-left: $spacer;
      color: $gray-light;
      font-size: 70%;
    }

  }

}
